<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ARK Charts</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.min.js"></script> -->
    <!-- <meta http-equiv="Cache-control" content="no-cache"> -->
</head>
<body onload="initial_graph()">
    <h1>Dashboard</h1>
    <button id="graph1-btn" data-graph="graph1">Graph 1</button>
    <button id="graph2-btn" data-graph="graph2">Graph 2</button>
    <button id="graph3-btn" data-graph="graph3">Graph 3</button>
    <button id="graph4-btn" data-graph="graph4">Graph 4</button>

    <canvas id="chart1"></canvas>
    
    <script>
        var canvas=null;

        function initial_graph(){
            var x_values1 = {{ x_values | safe }};
            // sets the value of the x_values1 JavaScript variable to the value of the x_values 
            // variable from the Flask backend, and it uses Jinja syntax to accomplish this
            var y_values1 = {{ y_values | safe }};
            
            var ctx1 = document.getElementById('chart1').getContext('2d');
            var chart = new Chart(ctx1, {
                type: 'line',
                data: {
                    labels: x_values1,
                    datasets: [{
                        label: 'Temperature',
                        data: y_values1,
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 0
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
            canvas=chart;
        }
        
        document.addEventListener("DOMContentLoaded", function() {
        // add a click event listener to each button
            var graph1Btn = document.getElementById("graph1-btn");
            var graph2Btn = document.getElementById("graph2-btn");
            var graph3Btn = document.getElementById("graph3-btn");
            var graph4Btn = document.getElementById("graph4-btn");
            
            graph1Btn.addEventListener("click", function() {
                getGraphData("1");
            });
            graph2Btn.addEventListener("click", function() {
                getGraphData("2");
            });
            graph3Btn.addEventListener("click", function() {
                getGraphData("3");
            });
            graph4Btn.addEventListener("click", function() {
                getGraphData("4");
            });
        });

        function getGraphData(graph) {
        // send an HTTP GET request to the Flask server
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/graph/" + graph, true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
            // update the graph on the page with the new data
            var data = JSON.parse(xhr.response);
            console.log("xmlhttp response parsed as JSON")
            console.log(data)
            console.log("Calling update graph now")
            updateGraph(graph, data);
            }
        };
        xhr.send();
        }
        function updateGraph(graph, data) {
            // get the canvas element for the graph
            // var canvas = document.getElementById(graph + "-canvas");
            if (canvas) {
                canvas.destroy();
            }
            var name=data.metadata[0]
            var unit=data.metadata[1]
            var label=name+" "+unit
            var x_values=data.x_values
            var y_values=data.y_values
            console.log(name)
            // console.log(x_values)
            // console.log(y_values)
            // create a new Chart object with the updated data
            canvas = document.getElementById('chart1').getContext('2d');
            var chart = new Chart(canvas, {
                type: 'line',
                data: {
                labels: x_values,
                datasets: [{
                    label: label,
                    data: y_values,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
                },
                options: {
                scales: {
                    yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                    }]
                }
                }
            });
            canvas=chart
        }


                
    </script>
</body>
</html>
