<html>
  <head>
    <title>CRUD App</title>
  </head>
  <body>
    <h1>CRUD App</h1>
    {% print(labels) %}
    {% print(values) %}
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <!-- <th>Name</th>
          <th>Price</th>
          <th>Actions</th> -->
        </tr>
      </thead> 
      <tbody>
        {% for x in labels %}
        <tr>
          <td>{{ x }}</td>
        </tr>
        {% endfor %}
        {% for y in values %}
        <tr>
          <td>{{ y }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- <h2>Create a new product</h2>
    <form action="/create" method="post">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="price" placeholder="Price">
      <input type="submit" value="Create">
    </form> -->
  </body>
</html>